<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
<link rel="stylesheet" href="/css/box.css">

<div id='encryptionBox' class="addBack1">
   
    <form action="">
        <select name='encrypt' id='encrypt'>
        <option value="Naor">Naor</option>
        <option value="otp">otp</option>
        <option value="aes">AES</option>
    </select>
    <button type="submit" id='box'>Submit</button>
        
    </form>
</div>

<div id='encryptionBox2' class="addBack21">
   
    <form action="">
        <select name='encrypt' id='encrypt1'>
        
        <option value="otp">otp</option>
       
    </select>
    <button type="submit" id='box1'>Submit</button>
        
    </form>
</div>
<div id='encryptionBox3' class="addBack31">
   
    <form action="">
        <select name='encrypt' id='encrypt2'>
        
        <option value="aes">AES</option>
    </select>
    <button type="submit" id='box2'>Submit</button>
        
    </form>
</div>
<div id='encryptionBox4' class="addBack41">
   
    <form action="">
        <select name='encrypt' id='encrypt3'>
        <option value="aes">AES</option>
    </select>
    <button type="submit" id='box3'>Submit</button>
        
    </form>
</div>

<div id='encryptionBox5' class="addBack51">
   
    <form action="">
        <select name='encrypt' id='encrypt4'>
        <option value="otp">otp</option>
 
    </select>
    <button type="submit" id='box4'>Submit</button>
        
    </form>
</div>






</div>
<script type="text/javascript" src="/js/script.js"></script>


 